# Ignore Go source code & binaries explicitly
*.go
go.mod
go.sum
server_sync
mave-sync-linux
config.json
bin/

# Catch-all: ignore everything else in root
/*

# Whitelist allowed repository assets
!/manifest.json
!.gitignore
!/server_mods/
!/server_mods/**
